:root {
    --bg-color: aqua;
    --blur: 2rem;
    --offset: 7%;
    --opacity: 20%;
    --border-radius: 50%;
}

.background {
    background: var(--bg-color);
}

.main-shape {
    background: var(--bg-color);
}

.light-shape {
    background-color: hsl(0, 0%, 70%);
    opacity: var(--opacity);
    filter: blur(var(--blur));
    top: calc(-1*var(--offset));
    left: var(--offset);
    z-index: -2;
    position: absolute;
}

.dark-shape {
    background-color: hsl(0, 0%, 30%);
    opacity: var(--opacity);
    filter: blur(var(--blur));
    top: var(--offset);
    left: calc(-1*var(--offset));
    z-index: -1;
    position: absolute;
}

.shape {
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    border-radius: var(--border-radius);
}

.center {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}